@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

html{
    background-color: rgba(15, 20, 47, 1);
    color: white;
}

.header{
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.image{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100vh;
}

.content{
    
font-family: 'Poppins', sans-serif;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    /* background-color: pink; */
align-items: center;
}


.panda{
    height: 60vh;
}

.title{
font-size: 4rem;
}

.subtitle{
    margin-top: -4rem;
    font-weight: 200;
    font-size: 1.5rem;
}
button{
   width: 15rem;
   height: 3rem;
   font-size: large;
   border-radius: 10px;
   font-weight: 600;
}

.b1{
    background: rgba(233, 98, 64, 1);

    color: white;
    border: rgba(233, 98, 64, 1);
    margin-right: 2rem;
}

.b2{   background: white;

    color: rgba(233, 98, 64, 1);
    border: white;

}

input{
    
    padding: 1rem 0.8rem;
}