@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

html{
    background-color: rgba(15, 20, 47, 1);
    color: white;
    font-family: 'Poppins', sans-serif;

}

.header{
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    width: 8rem;
    margin-right: 2rem;
    background-color: rgba(27, 33, 63, 1);
border-radius: 5px;
color: rgba(162, 163, 175, 1);
}

.timeline{
    display: flex;
    align-items: center;
    margin-top: 6rem;
    border-radius: 30px;
    width: 90vw;
    height: 2rem;
    background-image: linear-gradient(to right, rgba(169, 106, 219, 1) , rgba(233, 99, 64, 1));
}

.text{
    display: flex;
    margin-top: 3rem;
    font-size: 1.3rem;
    max-width: 90vw;
    justify-content: center;
}

textarea{
    height: 4rem;
    color: white;
    padding:1rem;
    background-color:rgba(38, 45, 85, 1);
    border:rgba(38, 45, 85, 1);
    border-radius: 5px;
    width: 90vw;
    font-size: 1rem;
    max-lines: 3;
    word-break: break-word;
    
}

::placeholder { 
        color: rgb(214, 214, 214);
        font-size: 1rem;
    opacity: 1; /* Firefox */
  }
  

  button{
      
      float: right;
    width: 10rem;
    height: 3rem;
    font-size: large;
    border-radius: 10px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgba(169, 106, 219, 1) , rgba(233, 99, 64, 1));
    /* background: rgba(233, 98, 64, 1); */
margin-top: 1rem;
    color: white;
    border: rgba(233, 98, 64, 1);
    margin-right: 3vw;
  }