<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/873911486488121344/929328632848064512/Untitled_design_1_1.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/index.css">
    <title>not my type - home</title>
</head>
<body>
    <p class="header">not my type</p>
    <img src="../static/images/gradbg.svg" alt="" class="image">
    <div class="content">
        <div style="width: 40rem;"><p class="title">Fastest Fingers First</p>
        <p class="subtitle">compete and see if you're the fastest typeracer in your squad, themed up with amazing musical vibes</p>
        <button class="b1" onclick="window.location.href='/create/{{code}}'">Create a room</button>
        <button class="b2" onclick="window.location.href='/play'">Play solo</button>
        </div>
        <div>
            <img src="../static/images/panda.svg" class="panda" alt="">
        </div>
    </div>
</body>
</html>