<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/873911486488121344/929328632848064512/Untitled_design_1_1.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style/play.css">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <title>play - not your type</title>
</head>
<body>
    
    <script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
   <div style="display: flex; justify-content: space-between; align-items: center;">
    <p class="header">not my type</p>
    <div class="timer">
        <img src="../static/images/timer.svg" alt="">
        <p id="time">00:30</p>
    </div>
   </div>
    <center>
        <div class="timeline">
<img src="../static/images/panda1.png"  id='lol' alt="" style="height: 10rem; margin-left: 0;">
        </div>

        <div class="text">
            <p>All life's battles teach us something, even those we lose. When you grow up, you'll discover that you have defended lies, deceived yourself, or suffered foolishness. If you're a good warrior you will not blame yourself for this, but neither will you allow your mistakes to repeat themselves. </p>
        </div>
        <div class="type">
            <textarea name="" id="cont" placeholder="Type the above text...." cols="30" rows="10"></textarea>
    
        </div>
    </center>

    <button onclick="btnclick()">submit</button>
   <div class="baamzikey" style="display: none;">

      <section id="wrap">
        <header>
          <h1>JS Piano</h1>
          <h2>Use your keyboard. Hover for hints.</h2>
        </header>
        <section id="main">
          <div class="nowplaying"></div>
          <div class="keys">
            <div data-key="65" class="key" data-note="C">
                <span class="hints">A</span>
            </div>
            <div data-key="87" class="key sharp" data-note="C#">
                <span class="hints">W</span>
            </div>
            <div data-key="83" class="key" data-note="D">
                <span class="hints">S</span>
            </div>
            <div data-key="69" class="key sharp" data-note="D#">
                <span class="hints">E</span>
            </div>
            <div data-key="68" class="key" data-note="E">
                <span class="hints">D</span>
            </div>
            <div data-key="70" class="key" data-note="F">
                <span class="hints">F</span>
            </div>
            <div data-key="84" class="key sharp" data-note="F#">
                <span class="hints">T</span>
            </div>
            <div data-key="71" class="key" data-note="G">
                <span class="hints">G</span>
            </div>
            <div data-key="89" class="key sharp" data-note="G#">
                <span class="hints">Y</span>
            </div>
            <div data-key="72" class="key" data-note="A">
                <span class="hints">H</span>
            </div>
            <div data-key="85" class="key sharp" data-note="A#">
                <span class="hints">U</span>
            </div>
            <div data-key="74" class="key" data-note="B">
                <span class="hints">J</span>
            </div>
            <div data-key="75" class="key" data-note="C">
                <span class="hints">K</span>
            </div>
            <div data-key="79" class="key sharp" data-note="C#">
                <span class="hints">O</span>
            </div>
            <div data-key="76" class="key" data-note="D">
                <span class="hints">L</span>
            </div>
            <div data-key="80" class="key sharp" data-note="D#">
                <span class="hints">P</span>
            </div>
            <div data-key="186" class="key" data-note="E">
                <span class="hints">;</span>
            </div>
          </div>
    
          <audio data-key="65" src="http://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
          <audio data-key="87" src="http://carolinegabriel.com/demo/js-keyboard/sounds/041.wav"></audio>
          <audio data-key="83" src="http://carolinegabriel.com/demo/js-keyboard/sounds/042.wav"></audio>
          <audio data-key="69" src="http://carolinegabriel.com/demo/js-keyboard/sounds/043.wav"></audio>
          <audio data-key="68" src="http://carolinegabriel.com/demo/js-keyboard/sounds/044.wav"></audio>
          <audio data-key="70" src="http://carolinegabriel.com/demo/js-keyboard/sounds/045.wav"></audio>
          <audio data-key="84" src="http://carolinegabriel.com/demo/js-keyboard/sounds/046.wav"></audio>
          <audio data-key="71" src="http://carolinegabriel.com/demo/js-keyboard/sounds/047.wav"></audio>
          <audio data-key="89" src="http://carolinegabriel.com/demo/js-keyboard/sounds/048.wav"></audio>
          <audio data-key="72" src="http://carolinegabriel.com/demo/js-keyboard/sounds/049.wav"></audio>
          <audio data-key="85" src="http://carolinegabriel.com/demo/js-keyboard/sounds/050.wav"></audio>
          <audio data-key="74" src="http://carolinegabriel.com/demo/js-keyboard/sounds/051.wav"></audio>
          <audio data-key="75" src="http://carolinegabriel.com/demo/js-keyboard/sounds/052.wav"></audio>
          <audio data-key="79" src="http://carolinegabriel.com/demo/js-keyboard/sounds/053.wav"></audio>
          <audio data-key="76" src="http://carolinegabriel.com/demo/js-keyboard/sounds/054.wav"></audio>
          <audio data-key="80" src="http://carolinegabriel.com/demo/js-keyboard/sounds/055.wav"></audio>
          <audio data-key="186" src="http://carolinegabriel.com/demo/js-keyboard/sounds/056.wav"></audio>
          </section>
      </section>
      <video playsinline autoplay muted loop id="bgvid" poster="http://carolinegabriel.com/demo/js-keyboard/video/bg.jpg">
          <source src="http://carolinegabriel.com/demo/js-keyboard/video/bg.mp4" type="video/mp4">
      </video>
     
   </div>
   <script src="../static/play.js"></script>
<script src="../static/firebase.js"></script>
<script>


var dia=document.getElementById('lol');
var count=0;
var lmao=0;
var x = 30;
var msg = "All life's battles teach us something, even those we lose. When you grow up, you'll discover that you have defended lies, deceived yourself, or suffered foolishness. If you're a good warrior you will not blame yourself for this, but neither will you allow your mistakes to repeat themselves.";

function btnclick(){
    var typed = document.getElementById('cont').value
    var sim = stringSimilarity.compareTwoStrings(msg, typed);
     window.location.href='/results/'+sim+','+(typed.split(" ").length/(30-x)*60);
}

window.onload = function(){
    const code = '{{code}}'
    const email = '{{email}}'
    timelol=setInterval(function(){
      
      document.getElementById('time').innerHTML="00:"+x;
      x-=1;
      if(x==0){
        var typed = document.getElementById('cont').value
        var sim = stringSimilarity.compareTwoStrings(msg,typed);

        //update score in firebase
        console.log(code, email)
        const fb =  firebase.initializeApp(firebaseConfig);
        const db = fb.firestore()

        
        

        window.location.href='/results/'+sim+','+(typed.split(" ").length*2)+','+email+','+code;
      }
 
  },1000);
  time=setInterval(function(){
      
 lmao+=1
    count+=10;
    if(count>=3000){
      count-=10;
      clearInterval(time);
    }
    if(lmao ==80){
        document.getElementById('lol').src = "../static/images/panda2.png"
    }
    if(lmao==220){
        document.getElementById('lol').src = "../static/images/panda3.png"
    }
    
    dia.style.marginLeft=count/37+"vw";
  },100);
}
</script>
    
</body>
</html>