<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/873911486488121344/929328632848064512/Untitled_design_1_1.png" type="image/x-icon">
    
    <title>not your type - send sms</title>
</head>

<body>
    <style>
        body{
            color: white;
            background-color: rgba(15, 20, 47, 1);
        }
    </style>
<center><div class="textbaamzi" style="margin-top: 15rem;">
    <p style="font-family: Arial, Helvetica, sans-serif;" >Enter room code</p>
    <input type="text" id="code">
    <p style="font-family: Arial, Helvetica, sans-serif;" >Enter mobile number</p>
    <input type="text" id="mob"> <br>
    <button style="margin-top: 1rem; color: white; background-color: tomato; border: tomato; padding: 0.5rem; border-radius: 5px;" onclick="sendbaamzi()">Get Results</button>
</div>

</center>
    
<script>
    function sendbaamzi(){
        var a = document.getElementById('code').value;
        var b = document.getElementById('mob').value;
        console.log(a)
        console.log(b)
        window.location.href='/sendconf/'+a+','+b;
    }
   
</script>
</body>
</html>